<div class="ml-5 mt-3" *ngIf="academy$ | async as academy">
    <form #updateAcademyForm="ngForm" (ngSubmit)="updateAcademy(datesArray.value)">
        <div class="py-2">
            <button class="btn btn-primary float-right" *ngIf="inUpdate===false"
                (click)="toggleUpdateAcademy()">Editar</button>
            <button *ngIf="inUpdate===true" type="submit" class="btn btn-primary float-right mx-2">Atualizar</button>
            <button class="btn btn-danger float-right mx-2" *ngIf="inUpdate===true"
                (click)="openModalConfirmDelete(templateConfirmDeleteAcademy)">Remover Academia</button>
            <h3>Academia</h3>
        </div>

        <div class="form-group row">
            <div class="col-3 form-inline">
                <label style="font-weight: bolder;" for="edName">Nome da edição: </label>
                <input class="w-50 ml-1" [readonly]="!inUpdate" #edNameField="ngModel" [(ngModel)]="academy.edName" name="edName"
                    id="edName" type="text" [ngClass]="{'form-control': inUpdate, 'form-control-plaintext': !inUpdate}"
                    [placeholder]="academy.edName === null ? '' : academy.edName">
            </div>

            <div class="col-3 form-inline">
                <p *ngIf="!inUpdate"><b>Estado: </b><span *ngIf="academy.status=='ACTIVE'">Activa</span>
                    <span *ngIf="academy.status=='NOTACTIVE'">Inactiva</span></p>
                <div *ngIf="inUpdate">
                    <label style="font-weight: bolder;" for="status">Estado: </label>
                    <select name="satus" class="form-control" id="status" #statusField="ngModel"
                        [(ngModel)]="academy.status" de>
                        <option value="ACTIVE">Activa</option>
                        <option value="NOTACTIVE">Inactiva</option>
                    </select>
                </div>
            </div>

            <div class="col-6 form-inline">
                <div>
                    <p *ngIf="inUpdate===false"><b>Datas: </b> De {{academy.startDate}} a {{academy.endDate}}</p>
                    <div [hidden]="inUpdate===false" [formGroup]="datesForm">
                        <label for="datesArray" class="col-form-label" style="font-weight: bolder;">Datas:</label>
                        <input type="text" class="form-control" name="datesArray" #datesArray
                            formControlName="dateRange" #daterangepicker="bsDaterangepicker" bsDaterangepicker
                            placeholder="Escolha as datas de duração da Academia" placement="bottom"
                            [bsConfig]="{ rangeInputFormat : 'YYYY-MM-DD', dateInputFormat: 'YYYY-MM-DD' }"
                            (change)="getDates()">
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-6 form-inline">
                <label style="font-weight: bolder;" for="academyType">Tipo de Academia:</label>
                <input class="w-50 ml-1" [readonly]="!inUpdate" #academyTypeField="ngModel" [(ngModel)]="academy.academyType"
                    id="academyType" name="academyType" type="text"
                    [ngClass]="{'form-control': inUpdate, 'form-control-plaintext': !inUpdate}"
                    [placeholder]="academy.academyType === null ? '' : academy.academyType">
            </div>
            <div class="col-6 form-inline">
                <label style="font-weight: bolder;" for="client">Cliente:</label>
                <input class="w-50 ml-1" [readonly]="!inUpdate" #clientField="ngModel" [(ngModel)]="academy.client" name="client"
                    id="client" type="text" [ngClass]="{'form-control': inUpdate, 'form-control-plaintext': !inUpdate}"
                    [placeholder]="academy.client === null ? '' : academy.client">
            </div>
        </div>

        <div class="form-group row" style="margin-bottom: 0;">
            <div class="col-6 form-inline">
                <label style="font-weight: bolder;" for="warning">Avisos:</label>
                <textarea [readonly]="!inUpdate" #warningField="ngModel" [(ngModel)]="academy.warning" id="warning"
                    name="warning" type="text"
                    [ngClass]="{'form-control': inUpdate, 'form-control-plaintext': !inUpdate}"
                    [placeholder]="academy.warning === null ? '' : academy.warning"></textarea>
            </div>
            <div class="col-6 form-inline">
                <label style="font-weight: bolder;" for="usefulInfo">Informações úteis:</label>
                <textarea [readonly]="!inUpdate" #usefulInfoField="ngModel" [(ngModel)]="academy.usefulInfo"
                    id="ausefulInfo" name="ausefulInfo" type="text"
                    [ngClass]="{'form-control': inUpdate, 'form-control-plaintext': !inUpdate}"
                    [placeholder]="academy.usefulInfo === null ? '' : academy.usefulInfo"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <p><b>Módulos</b>
                    <button (click)="openModalAddModule(templateAddModule)" class="btn btn-success m-2">
                        <fa-icon [icon]="faPlus"></fa-icon>
                    </button>
                </p>
                <table class="table table-sm table-striped container text-center">
                    <thead class="thead-dark">
                        <th>#</th>
                        <th>Nome</th>
                        <th>+Info</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let module of academy.moduleDTOs let i = index;" id="{{i}}">
                            <td>{{i + 1}}</td>
                            <td>{{module.name}}</td>
                            <td>
                                <button (click)="showModule(module.id)" class="btn btn-borderless">
                                    <fa-icon [icon]="faEye"></fa-icon>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-6">
                <p><b>Formandos</b><button class="btn btn-primary" (click)="openModalAddStudent(templateAddStudent)"
                        class="btn btn-success m-2">
                        <fa-icon [icon]="faPlus"></fa-icon>
                    </button>
                </p>
                <table class="table table-sm table-striped container text-center">
                    <thead class="thead-dark">
                        <th>#</th>
                        <th>Nome</th>
                        <th>Perfil</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let student of academyStudents$ | async; let i = index;" id="{{i}}">
                            <td>{{i + 1}}</td>
                            <td>{{student.studentUser.name}}</td>
                            <td>
                                <button (click)="showStudent(student.studentUser.id)" class="btn btn-borderless">
                                    <fa-icon [icon]="faEye"></fa-icon>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
    <div class="row">
        <button (click)="returnToTable()" class="btn btn-secondary mx-auto">Voltar</button>
    </div>

    <!-- Modal Confirm Delete Academy -->
    <ng-template #templateConfirmDeleteAcademy>
        <div class="modal-body text-center">
            <p>Tem a certeza que deseja apagar a academia?</p>
            <button type="button" class="btn btn-danger" (click)="deleteAcademy()">Sim</button>
            <button type="button" class="btn btn-primary" (click)="modalRef.hide()">Não</button>
        </div>
    </ng-template>

    <!-- Modal Add Module -->
    <ng-template #templateAddModule>
        <div class="modal-body text-center">
            <div class="container">
                <form #addModuleForm="ngForm" (ngSubmit)="addModuleToAcademy()">
                    <div class="row">
                        <label style="font-weight: bolder;" for="name">Nome:</label>
                        <input #nameField="ngModel" [(ngModel)]="newModule.name" name="name" id="name" type="text"
                            class="form-control">
                    </div>
                    <button class="btn btn-success m-3" type="submit">Criar</button>
                </form>
            </div>
            <div *ngIf="addingTheme">
                <form #addThemeForm="ngForm" (ngSubmit)="addTheme()">
                    <input type="text" [(ngModel)]="newTheme.name" name="name" required>
                    <button class="btn btn-success" type="submit">Adicionar Tema</button>
                </form>
            </div>
        </div>
    </ng-template>

    <!-- Modal Add Student -->
    <ng-template #templateAddStudent>
        <div class="modal-body text-center">
            <div class="container">
                <form #addModuleForm="ngForm" (ngSubmit)="updateAcademy2()">
                    <div class="form-inline">
                        <label for="students" style="font-weight: bolder;">Alunos</label>
                        <ngx-bootstrap-multiselect class="m-3" name="students" [(ngModel)]="studentsIds2"
                            [items]="studentsDropdown" [settings]="studentsDropdownSettings">
                        </ngx-bootstrap-multiselect>
                    </div>
                    <button class="btn btn-success m-3" type="submit">Adicionar Aluno</button>
                </form>
            </div>
        </div>
    </ng-template>

</div>