<!-- <p>teacher-academy works!</p> -->

<div class="container ml-4 mt-4" style="width: 1100px">

    <h4 class="mb-4">Academia do Formador</h4>

    <div *ngIf = "academy$ | async as academy" class="mb-4">
        
  <div id="InfoBox" class="form-inline">
    <div class="float-left" style="width: 400px;">
      <h6 style="font-weight: bolder;">Cliente:  <span> {{ academy.client }} </span></h6>
      <h6 style="font-weight: bolder;">Data de começo:  <span> {{ academy.startDate }} </span></h6>
      <h6 style="font-weight: bolder;">Nome da edição:  <span> {{ academy.edName }} </span></h6>
    </div>

    <div class="float-left" style="width: 400px;">
      <h6 style="font-weight: bolder;">Tipo de academia:  <span> {{ academy.academyType }} </span></h6>
      <h6 style="font-weight: bolder;">Data de finalização:  <span> {{ academy.endDate }} </span></h6>
      <h6 style="font-weight: bolder;">Status:  <span> {{ academy.status }} </span></h6>
    </div>
  </div>

      <div class="inline">

        <div class="input-group my-4">
          <div class="input-group-prepend">
            <span class="input-group-text">warning</span>
          </div>
          <textarea name="warning" [(ngModel)]="academy.warning" class="form-control" aria-label="With textarea"></textarea>
          <button type="button" (click)="refreshWarningAndInfo()" type="submit" class="btn btn-success ml-4">Submeter</button>
        </div>

        <div class="input-group my-4">
          <div class="input-group-prepend">
            <span class="input-group-text">useful info</span>
          </div>
          <textarea name="usefulInfo" [(ngModel)]="academy.usefulInfo" class="form-control" aria-label="With textarea">{{ academy.usefulInfo }}</textarea>
          <button type="button" (click)="refreshWarningAndInfo()" class="btn btn-success ml-4">Submeter</button>
        </div>

      </div>
    
      <div class="mt-5">
        <table class="table table-sm text-center">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Modulo</th>
              <th scope="col">Link</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let module of academy?.moduleDTOs; let i = index;" id="{{i}}">
              <td> {{ module.name }} </td>  
              <td>
                <button (click)="openModuleById(module.id)" class="btn btn-sm btn-success">Ver</button>
              </td>
            </tr>
          </tbody>
        </table>   
      </div>

    </div>

</div>