<div *ngIf="user$ | async as user">
    <div *ngIf="account$ | async as account">
        <form class="ml-4" #updateAccountForm="ngForm" (ngSubmit)="updateAccount()">
            <div class="py-2">
                <button class="btn btn-borderless float-right" *ngIf="inUpdate===false" (click)="toggleUpdateAccount()">
                    <fa-icon [icon]="faEdit" size="2x"></fa-icon>
                </button>
                <button *ngIf="inUpdate===true" type="submit" class="btn btn-borderles float-right mx-2">
                    <fa-icon [icon]="faSave" size="2x"></fa-icon>
                </button>
                <button class="btn btn-borderles float-right mx-2" *ngIf="inUpdate===true"
                    (click)="openModal(templateConfirmDeleteAccount)">
                    <fa-icon [icon]="faTrashAlt" size="2x"></fa-icon>
                </button>
                <h3>Perfil de {{user.name}}</h3>
            </div>
            <div class="row text-center  ">
                <div class="col-md-4 mt-3 text-center ">
                    <img class="rounded-circle center-block" style="width: auto; max-height: 200px;" alt="100x100"
                        [src]="account.photoLink === null ? 'https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png' : account.photoLink"
                        data-holder-rendered="true">
                    <div *ngIf="inUpdate" class="text-left">
                        <label style="font-weight: bolder;">Mudar Foto:<input #photoLinkField="ngModel"
                                [(ngModel)]="account.photoLink" name="photoLink" id="photoLink" type="text"
                                class="form-control"
                                [placeholder]="account.photoLink === null ? '' : account.photoLink"></label>
                    </div>
                </div>

                <div class="col-md-7 text-left my-3 ml-3">


                    <label style="font-weight: bolder;">Data de Nascimento:<input [readonly]="!inUpdate"
                            #ageField="ngModel" [(ngModel)]="account.age" name="age" id="age" type="date"
                            [ngClass]="{'form-control': inUpdate, 'form-control-plaintext': !inUpdate}"
                            [placeholder]="account.age === null ? '' : account.age"></label>

                    <label style="font-weight: bolder;">Área de Formação:<input [readonly]="!inUpdate"
                            #academicBackgroundField="ngModel" [(ngModel)]="account.academicBackground"
                            id="academicBackground" name="academicBackground" type="text"
                            [ngClass]="{'form-control': inUpdate, 'form-control-plaintext': !inUpdate}"
                            [placeholder]="account.academicBackground === null ? '' : account.academicBackground"></label>

                    <label style="font-weight: bolder;">Grau académico:<input [readonly]="!inUpdate"
                            #academicDegreeField="ngModel" [(ngModel)]="account.academicDegree" id="academicDegree"
                            name="academicDegree" type="text"
                            [ngClass]="{'form-control': inUpdate, 'form-control-plaintext': !inUpdate}"
                            [placeholder]="account.academicDegree === null ? '' : account.academicDegree"></label>

                    <label style="font-weight: bolder;">NIF:<input [readonly]="!inUpdate" #nifField="ngModel"
                            [(ngModel)]="account.nif" id="nif" name="nif" type="number"
                            [ngClass]="{'form-control': inUpdate, 'form-control-plaintext': !inUpdate}"
                            placeholder="account.nif"></label>

                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4 text-left ">
                    <div style="font-weight: bolder; font-style: italic; font-size: large;">Contactos:</div>
                    <div> <label style="font-weight: bolder;">Email: </label>
                        <div> {{user.email}}</div>
                    </div>
                    <label style="font-weight: bolder;"><fa-icon [icon]="faLinkedin" style="color: blue;" size="2x"></fa-icon><input [readonly]="!inUpdate"
                            #linkedInAdressField="ngModel" [(ngModel)]="account.linkedInAdress" id="linkedInAdress"
                            name="linkedInAdress" type="text"
                            [ngClass]="{'form-control': inUpdate, 'form-control-plaintext': !inUpdate}"
                            [placeholder]="account.linkedInAdress === null ? '' : account.linkedInAdress"></label>
                    <label style="font-weight: bolder;">Telemovel:<input [readonly]="!inUpdate"
                            #mobilePhoneField="ngModel" [(ngModel)]="account.mobilePhone" id="mobilePhone"
                            name="mobilePhone" type="text"
                            [ngClass]="{'form-control': inUpdate, 'form-control-plaintext': !inUpdate}"
                            placeholder="account.mobilePhone"></label>
                </div>
                <div class="col-md-7 ml-3 text-left ">
                    <div style="font-weight: bolder; font-style: italic; font-size: large;">Academias:</div>
                    <div *ngIf="accountAcademies === undefined">
                        <p><i>Sem academias</i></p>
                    </div>
                    <div *ngIf="accountAcademies$ | async as academies">
                        <div *ngIf="academies?.length === 0 || academies === null">
                            <p><i>Sem academias</i></p>
                        </div>
                        <div *ngIf="academies?.length > 0">
                            <div *ngFor="let academy of academies">
                                <span><a
                                        [routerLink]="['/academy-manager/academy/', academy.id]">{{academy.edName}}</a></span>
                            </div>
                        </div>
                    </div>

                    <!--  Temas (só para formadores) -->
                    <div *ngIf="user?.role === 'SUPERUSER'">

                        <div style="font-weight: bolder; font-style: italic; font-size: large;">Temas que o formador
                            lecciona:</div>


                        <div *ngIf="!inUpdate">
                            <div *ngIf="account?.themes.length === 0">
                                <p><i>Sem temas</i></p>
                            </div>
                            <div *ngIf="account?.themes.length > 0">
                                <div *ngFor="let theme of account.themes">
                                    <span>{{theme.name}} </span>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="inUpdate">
                            <div class="row" *ngIf="allThemes$ | async as allThemes">
                                <ngx-bootstrap-multiselect name="themes" [(ngModel)]="account.themes"
                                    [items]="themeDropdownList" [settings]="dropdownSettings">
                                </ngx-bootstrap-multiselect>
                                <button class="btn btn-borderless" (click)="openModal(templateAddTheme)">
                                    <fa-icon [icon]="faPlusCircle" size="2x"></fa-icon>
                                </button>
                            </div>
                        </div>

                    </div>
                    <!-- Faltas (só para formandos) -->
                    <div *ngIf="user?.role === 'USER'">
                        <div class="mt-3" *ngIf="misses$ | async as misses">

                            <div style="font-weight: bolder; font-style: italic; font-size: large;">Faltas: <button *ngIf="inUpdate" class="btn btn-borderless"
                                (click)="openModal(templateAddMissedDay)">
                                <fa-icon [icon]="faPlusCircle" style="color:#007bff" size="2x"></fa-icon>
                            </button></div>

                            <div *ngIf="misses?.length === 0">
                                <p><i>Sem faltas</i></p>
                            </div>
                            <div *ngIf="misses?.length > 0">
                                <div *ngFor="let missed of misses">
                                    <div>
                                        <p *ngIf="missed.justified === true">Data: {{missed.data | date:'d/M/y'}} <img
                                                style="height: 25px; width: auto;" data-toggle="tooltip"
                                                title="Justificada"
                                                src="https://cdn.pixabay.com/photo/2012/05/07/02/13/accept-47587_960_720.png">
                                            <button *ngIf="inUpdate" class="btn btn-danger mx-2"
                                                (click)="changeJustified(missed.id)">Tornar Injustificada</button>
                                            <button *ngIf="inUpdate" class="btn btn-borderless mx-2"
                                                (click)="deleteMissedClass(missed.id)">
                                                <fa-icon [icon]="faMinusCircle" size="2x"></fa-icon>
                                            </button>
                                        </p>
                                    </div>
                                    <div>
                                        <p *ngIf="missed.justified !== true">Data: {{missed.data | date:'d/M/y'}} <img
                                                style="height: 25px; width: auto;" data-toggle="tooltip"
                                                title="Não Justificada"
                                                src="https://cdn.pixabay.com/photo/2012/05/07/02/13/cancel-47588_960_720.png">
                                            <button *ngIf="inUpdate" class="btn btn-success mx-2"
                                                (click)="changeJustified(missed.id)">Justificar</button>
                                            <button *ngIf="inUpdate" class="btn btn-borderless mx-2"
                                                (click)="deleteMissedClass(missed.id)">
                                                <fa-icon [icon]="faMinusCircle" size="2x"></fa-icon>
                                            </button>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="container col-md-12" *ngIf="user?.role === 'USER'">
                <div class="inline mt-2 text-left">
                    <span style="font-weight: bolder; font-size: larger;"><i> Declarações de Recebimento </i></span>
                    <button class="btn btn-borderless" (click)="openModal(templateAddDeclaration)"><fa-icon [icon]="faPlusCircle" style="color:#007bff" size="2x"></fa-icon></button>
                </div>
                <div class="row text-center">
                    <div class="col-md-12 mt-2 text-left">
                        <table class="table table-sm table-striped container m-3 col-12 text-center">
                            <thead class="thead-dark">
                                <th>Declaração Enviada</th>
                                <th>Data de Envio</th>
                                <th>Declaração Recebida</th>
                                <th>Data Recebida</th>
                                <th>Estado de Verificação</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let declaration of declarations$ | async; let i=index" id={{i}}>
                                    <td><a href="declaration.fileUrlSent">{{declaration.fileUrlSent}}</a></td>
                                    <td>{{declaration.dateSent}}</td>
                                    <td><a *ngIf="declaration.dateReceived !== null && declaration.dateReceived !== ''"
                                            href="declaration.fileUrlReturned">{{declaration.fileUrlReturned}}</a>
                                        <p *ngIf="declaration.dateReceived === null || declaration.dateReceived === ''">
                                            <fa-icon [icon]="faClock" size="2x"></fa-icon>
                                        </p>
                                    </td>
                                    <td>
                                        <p *ngIf="declaration.dateReceived === null || declaration.dateReceived === ''">
                                            <fa-icon [icon]="faClock" size="2x"></fa-icon>
                                        </p>
                                        <p *ngIf="declaration.dateReceived !== null || declaration.dateReceived !== ''">
                                            {{declaration.dateReceived}}</p>
                                    </td>
                                    <td>
                                        <p *ngIf="declaration.dateReceived === null || declaration.dateReceived === ''">
                                            <fa-icon [icon]="faClock" size="2x"></fa-icon>
                                        </p>
                                        <p
                                            *ngIf="declaration.dateReceived !== null && declaration.dateReceived !== '' && declaration.verified===true">
                                            <fa-icon [icon]="faCheckCircle" style="color:green" size="2x"></fa-icon>
                                        </p>
                                        <p
                                            *ngIf="declaration.dateReceived !== null && declaration.dateReceived !== '' && declaration.verified===false">
                                            <button (click)="verifyDeclaration(declaration, i)">
                                                <fa-icon [icon]="faTimesCircle" style="color:red" size="2x"></fa-icon>
                                            </button></p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row">
                <button (click)="returnToTable()" class="btn btn-secondary mx-auto">Voltar</button>
            </div>
        </form>


        <ng-template #templateConfirmDeleteAccount>
            <div class="modal-header">Remover Conta de Utilizador</div>
            <div class="modal-body container">
                <p><strong>Tem a certeza que quer remover a conta de <span
                            class="text-primary">"{{user.name}}"?</span></strong>
                </p>
                <p>Toda a informação será apagada permanentemente.</p>
                <p class="text-danger">Esta operação não pode ser revertida!</p>

            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-secondary mx-2" (click)="modalRef.hide()">Cancelar</button>
                <button class="btn btn-danger mx-2" (click)="deleteAccount()">Sim</button>
            </div>
        </ng-template>

        <ng-template #templateAddMissedDay>
            <div class="modal-header">Adicionar Falta</div>
            <form #addMissedDayForm="ngForm" (ngSubmit)="addMissedDay()">
                <div class="modal-body container">
                    <p><strong>Adicionar falta a <span class="text-primary">"{{user.name}}"?</span></strong></p>
                    <div class="row">
                        <label>Data:</label>
                        <input #dataField="ngModel" [(ngModel)]="missedDay" id="data" name="data" type="date"
                            class="form-control" required>
                        <small class="text-danger" [hidden]="validateMissedDate()">Nessa data já foi adicionada uma
                            falta</small>
                    </div>
                    <!-- <div class="row">
                    <label>Justificação:</label>
                    <select #justifiedField="ngModel" [(ngModel)]="newMissedClass.justified" id="justified" name="justified"  class="form-control" required>
                        <option value="true">Sim</option>
                        <option value="false">Não</option>
                    </select>
                </div> -->
                </div>
                <div class="modal-footer">
                    <button class="btn btn-outline-primary" type="submit">Adicionar</button>
                </div>
            </form>
        </ng-template>

        <ng-template #templateAddTheme>
            <div class="modal-header">Adicionar Tema</div>
            <form #addThemeForm="ngForm" (ngSubmit)="addTheme()">
                <div class="modal-body container">
                    <input type="text" [(ngModel)]="newTheme.name" name="name" required>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit">Adicionar</button>

                </div>
            </form>
        </ng-template>


        <ng-template #templateAddDeclaration>
            <div class="modal-header">Adicione Declaração</div>
            <form #addDeclarationForm="ngForm" (ngSubmit)="addDeclaration()">
                <div class="modal-body container">
                    <label for="fileUrlSent">Nova declaração:</label>
                    <input type="text" [(ngModel)]="newDeclaration.fileUrlSent" name="fileUrlSent" required>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit">Adicionar</button>

                </div>
            </form>
        </ng-template>
    </div>
</div>