<div id="sidebar" class="d-flex flex-column" style="background-color: grey; width: 220px; height: 100%;">

    <div style="background-color: rgb(59, 59, 59); text-align: center;">
        <h5 class="my-3 mr-5" style="color: white;">Menu</h5>
    </div>
    <ul class="nav-item mt-3" style="padding-left: 10px;">
       
        <li *ngIf="isTeacher===true">
            <a [routerLinkActive] = "['active']" routerLink = "teacher-academies" class="btn btn-link btn-md mx-1 my-2" 
            style="color: white;" witdth: 100% >MyAcademies</a>
        </li>
        <li *ngIf="isTeacher===false">
            <a [routerLinkActive] = "['active']" routerLink = "my-academies" class="btn btn-link btn-md mx-1 my-2" style="color: white;" witdth: 100% >Academia</a>
        </li>
        <li>
            <a [routerLinkActive] = "['active']"  routerLink = "my-profile" class="btn btn-link btn-md mx-1 my-2" style="color: white;" witdth: 100% >Perfil</a>
        </li>
        <li *ngIf="isTeacher===false">
            <a [routerLinkActive] = "['active']" routerLink = "my-declarations" class="btn btn-link btn-md mx-1 my-2" 
            style="color: white;" witdth: 100% >Declarações<br>Recebimento</a>
        </li>

    </ul>   
</div>