<div class="container mt-4 ml-3 mr-3" *ngIf="academy$| async as academy">

  <div>
  <h3>Bem-Vindo</h3>
  </div>

    <div>
    <alert type="warning" class="alert-link container" dismissible="true" (onClosed)="onClosed(alert)">
    <div id="hG"class="alert-heading">Avisos</div> 
    <p class= "mb-0"> {{ academy.warning }} </p>
    </alert>
    </div>

    <div id="InfoBox" class="form-inline">
        <div class="float-left" style="width: 400px;">
         <h5>Cliente: <span class="badge badge-secondary"> client {{ academy.client }} </span></h5>
        <h5>Data de começo: <span class="badge badge-secondary"> startDate {{ academy.startDate }} </span></h5>
        <h5>Nome da edição: <span class="badge badge-secondary"> edName {{ academy.edName }} </span></h5>
      </div>
        
      <div class="float-left" style="width: 400px;">
        <h5>Tipo de academia: <span class="badge badge-secondary"> academyType {{ academy.academyType }} </span></h5>
        <h5>Data de finalização: <span class="badge badge-secondary"> endDate {{ academy.endDate }} </span></h5>
        <h5>Status: <span class="badge badge-secondary"> status {{ academy.status }} </span></h5>
      </div>

    </div>

    <div class= mt-3> 
    <button type="button" class="btn btn-primary" (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="isCollapsed" aria-controls="collapseBasic">Links
    </button>
    <div class= mt-3 id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true">
    <div class="well well-lg card card-block card-header">{{academy.usefulInfo}}</div>
    </div>
  </div>

    <div class= mt-3> 
      <accordion [isAnimated]="true">
        <accordion-group heading="Detalhes">
           <table class="table">
          <thead class="thead-dark">
            <tr>
            <th scope="col">#</th>
            <th scope="col">Modulos</th>
            <th scope="col">Formadores</th>
            </tr>
        </thead>
          <tbody>
            <tr *ngFor="let module of academy?.moduleDTOs">
            <th scope="row">1</th>
            <td> TESTE {{module.name}}</td>
            <td> {{module.userTeacher.name}} </td>
            </tr> 
          </tbody>
        </table>
        </accordion-group>
     </accordion> 
    </div>
    </div>