<div class="ml-5 mt-1">
  <!-- <div> -->
    <!-- <div><button type="button" class="btn btn-danger" (click)="changeView()">change view</button></div> -->

    <!-- <div id="zemanel">


    </div> -->
    <!-- <div #one></div> -->

    <!-- <div>
        <input type="number" [(ngModel)]="rows" />
        <input type="number" [(ngModel)]="colums" />
        <button (click)="setDimension()" type="button">Change</button>
        <table class="table">
            <thead>
              <tr>
                <th scope="col" *ngFor="let col of colArray; index as i">{{i+1}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let col of rowArray; index as i">
                <td *ngFor="let col of colArray; index as j">{{j+1}}</td>
              </tr>
            </tbody>
          </table>
      </div> -->


    <!-- <div>
        <input type="number" [(ngModel)]="rows" />
        <input type="number" [(ngModel)]="colums" />
        <button (click)="setDimension()" type="button">Change</button>
        <button (click)="setphoto()" type="button">photo</button>
        <button (click)="cleanElement()" type="button">cleanBruno</button>
        <div class="text-center">
                <div *ngFor="let row of rowArray; index as i" class="row text-center" id="z{{i}}">
                    <div *ngFor="let col of colArray; index as a" class="col border strokeme border-secondary m-2 rounded-circle" id="a{{i}}{{a}}" style="width:150px; height: 150px; max-width: 150px; background: url('https://us.v-cdn.net/6022045/uploads/defaultavatar.png')no-repeat center center /cover;"><div class="row"><div class="col d-flex align-items-start " id="topL{{i}}{{a}}"></div><div class="col d-flex align-items-end" id="topR{{i}}{{a}}"></div></div><div class="row d-flex align-items-end justify-content-center" style="margin-top: 90px;" id="bot{{i}}{{a}}"></div></div>
                    
        </div> -->

    <div *ngIf="view === true" class="row">
      <div *ngFor="let position of arrayPositions$ | async" class="col-md-3 m-2" style="background-color: slateblue;">
        <img class="row profile-photo rounded-circle" src="{{position.account.photoLink}}">
        <div class="row mx-auto">
          <button type="button" (click)="cleanElement(position)" class="btn btn-info">-</button>
          <!-- <select >
          <option ng-value="arrayPositionsRemoved.user.name">{{arrayPositionsRemoved.user.name}}</option>
       </select> -->
          <button *ngIf="chekedIfMissed(position.account.id) == false" (click)="addMissed(position.account.id)"
            class="btn btn-danger">F</button>
          <button *ngIf="chekedIfMissed(position.account.id) == true" (click)="removeMissed(position.account.id)"
            class="btn btn-success">RF</button>
        </div>
        <div class="row"> {{position.user.name}}</div>
      </div>
    </div>

    <div *ngIf="view === false">
      <table class="table table-sm table-striped container mt-3 col-12 text-center">
        <thead class="thead-dark">
          <tr>
            <th>Foto</th>
            <th>Nome</th>
            <th>Falta</th>
            <th>Perfil</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let position of arrayPositions$ | async; let i = index;" id="{{position.position}}">
            <td><img
                [src]="position.account.photoLink === null ? 'https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png' : position.account.photoLink"
                class="rounded-circle center-block" width="40" alt="100x100"></td>
            <td>{{position.user.name}}</td>
            <td>
              <button *ngIf="chekedIfMissed(position.account.id) == false" (click)="addMissed(position.account.id)"
                class="btn btn-borderless" style="color: red;">
                <fa-icon [icon]="faUserTimes"></fa-icon>
              </button>
              <button *ngIf="chekedIfMissed(position.account.id) == true" (click)="removeMissed(position.account.id)"
                class="btn btn-borderless" style="color:green">
                <fa-icon [icon]="faUserCheck"></fa-icon>
              </button>
            </td>
            <td>
              <button (click)="showProfileModal(templateViewStudentProfile,position.account,position.user)" class="btn btn-borderless">
                <fa-icon [icon]="faEye"></fa-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Modal View Student Profile -->
    <ng-template #templateViewStudentProfile>
      <div class="modal-body text-center container">
        <div class="text-center">
          <div class="m-1 mb-2"><p style="font-weight: bolder; font-size:larger;">{{modalUser.name}}</p></div>
          <div class="m-1"><img
              [src]="modalAccount.photoLink === null ? 'https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png' : modalAccount.photoLink"
              class="rounded-circle center-block" width="150" alt="100x100"></div>
          <div class="text-left m-auto" style="width: fit-content;">
            <div>
              <div class="m-1 mt-3">
                <span style="font-weight: bolder;">Data Nascimento:</span>  {{modalAccount.age}}
              </div>
            </div>
            <div>
              <div class="m-1">
                <span style="font-weight: bolder;">Email:</span>  {{modalUser.email}}
              </div>
            </div>
            <div>
              <div class="m-1">
                <span style="font-weight: bolder;">Linkedin:</span>  {{modalAccount.linkedInAdress}}
              </div>
            </div>
            <div>
              <div class="m-1">
                <span style="font-weight: bolder;">Area Academica:</span>  {{modalAccount.academicBackground}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

  </div>